/* GOOGLE FONTS */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");

/* variables */
:root {
  --mainBlack: #191716;
  --mainWhite: #e0e2db;
  --mainYellow: #e6af2e;
  --mainGrey: #beb7a4;
}

* {
  margin: 0;
  padding: 0;
  /* The CSS box-sizing property allows us to include the padding and border in an element's total width and height. */
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

/* NAV */
nav ul {
  list-style-type: none;
  border-top: 6px solid #e6af2e;
  background-color: #191716;
}

nav ul li a {
  text-decoration: none;
  display: block;
  text-align: center;
  font-size: 20px;
  padding: 15px 25px;
  color: #e6af2e;
}

nav ul li a:hover {
  color: #e0e2db;
}

.logo {
  display: flex;
  text-transform: uppercase;
  justify-content: space-between;
  font-size: 40px;
  background: #e6af2e;
  color: #191716;
  font-style: italic;
}

.logo:hover {
  background-color: #e0e2db;
  color: #e6af2e;
}

@media screen and (max-width: 576px) {
  nav ul {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: space-between;
  }

  nav ul li {
    flex: 1 0 auto;
  }
  .logo {
    display: block;
    text-align: center;
  }
  .logo .fa {
    display: none;
  }
}

/* END OF NAV */

/* BANNER */
#banner {
  min-height: 90vh;
  /* the last number (0.5) is the opacity */
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(./images/background-banner.jpg);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}
.banner-text {
  font-size: 50px;
  text-transform: uppercase;
  color: var(--mainWhite);
  font-style: italic;
}
.banner-underline {
  width: 200px;
  border: 3px solid var(--mainBlack);
  /* places it in the center */
  margin: 10px auto 10px auto;
}

.banner-btn {
  display: flex;
  justify-content: space-between;
}
.banner-btn button {
  font-size: 30px;
  padding: 15px;
  text-transform: uppercase;
  margin: 0 10px;
  background: transparent;
  color: var(--mainYellow);
  border: 2px solid var(--mainYellow);
}
.banner-btn button:hover {
  color: var(--mainWhite);
  background-color: var(--mainYellow);
}
/* END OF BANNER */

/* SKILLS */
#skills {
  padding: 60px 0;
  background-color: var(--mainGrey);
}
.skills-container {
  max-width: 95vw;
  /* places it in the center */
  margin: 0 auto;
}
.skills-item {
  text-align: center;
  margin: 20px 0;
}
.skills-item .fa {
  font-size: 60px;
  color: var(--mainBlack);
}
.skills-item h1 {
  font-size: 30px;
  letter-spacing: 2px;
  margin: 30px 0;
  color: var(--mainYellow);
  text-transform: uppercase;
}

.skills-item p {
  width: 75%;
  margin: 0 auto;
  color: var(--mainWhite);
}

@media screen and (min-width: 576px) {
  .skills-container {
    display: grid;
    /* divides in 2 */
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 1em;
  }
}
@media screen and (min-width: 992px) {
  .skills-container {
    display: grid;
    /* divides in 2 */
    grid-template-columns: repeat(4, 1fr);
    grid-row-gap: 5px;
  }
}

/* END OF SKILLS */

/* SERVICES SECTION */
/* title */
.title {
  margin: 40px 0;
}
.title-text {
  text-align: center;
  font-size: 40px;
  color: var(--mainWhite);
  font-style: italic;
  text-transform: uppercase;
}
.title-underline {
  width: 200px;
  border: 3px solid var(--mainYellow);
  /* places it in center */
  margin: 0 auto;
}
/* end of title */
#services {
  min-height: 100vh;
  background: url(./images/services.jpeg);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 20px 0 80px 0;
}
.services-container {
  max-width: 90vw;
  margin: 0 auto;
  color: var(--mainWhite);
}
.service-item {
  overflow: hidden;
  position: relative;
  padding: 60px;
}
.service-item .fa {
  font-size: 60px;
  margin-bottom: 30px;
  color: var(--mainYellow);
}
.service-item-black {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
}
.service-item-white {
  background: linear-gradient(
    rgba(206, 208, 206, 0.6),
    rgba(206, 208, 206, 0.6)
  );
  color: var(--mainBlack);
}
.front-text {
  text-align: center;
  transition: transform 2s;
}
.back-text {
  position: absolute;
  bottom: -15em;
  width: 75%;
  margin: 0 auto;
  height: 100%;
  transition: bottom 2s;
  padding: 30px 0;
}
.back-text h1 {
  margin-bottom: 20px;
}
.back-text button {
  margin-top: 20px;
  padding: 10px 20px;
  background: transparent;
  border: 2px solid var(--mainYellow);
  font-size: 20px;
  color: var(--mainYellow);
}
.back-text button:hover {
  background-color: var(--mainYellow);
  color: var(--mainBlack);
}
.service-item-white button {
  background: var(--mainYellow);
  color: var(--mainBlack);
}
.service-item-white button:hover {
  background: var(--mainBlack);
  border-color: var(--mainBlack);
  color: var(--mainYellow);
}

.service-item:hover .front-text {
  transform: translateY(-200px);
}
.service-item:hover .back-text {
  bottom: 0;
}
@media screen and (min-width: 576px) {
  .services-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  /* changes the order */
  .services-container .service-item:nth-of-type(1) {
    order: 1;
  }
  .services-container .service-item:nth-of-type(2) {
    order: 1;
  }
  .services-container .service-item:nth-of-type(3) {
    order: 4;
  }
  .services-container .service-item:nth-of-type(4) {
    order: 3;
  }
}
/* END OF  SERVICES SECTION */

/* PROJECTS */
#projects .title-text {
  color: var(--mainBlack);
}
#projects {
  padding: 20px 0 80px 0;
  background-color: var(--mainWhite);
}
.projects-container {
  max-width: 90vw;
  margin: 0 auto;
}
.projects-item {
  position: relative;
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8));
  color: var(--mainWhite);
  overflow: hidden;
  margin: 20px 0;
}
#projects img {
  width: 100%;
  min-height: 100%;
  display: block;
  transition: transform 4s;
}
.img-text {
  position: absolute;
  top: 50%;
  left: 50%;
  /* it centers it */
  transform: translate(-50%, -50%);
  text-align: center;
  opacity: 0;
  transition: opacity 4s;
}
.img-footer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 10px;
  font-size: 20px;
  opacity: 0;
  color: var(--mainYellow);
  transition: opacity 4s;
}

.img-text h1 {
  font-size: 30px;
  margin-bottom: 10px;
}
.img-text h6 {
  font-size: 15px;
}
.projects-item:hover img {
  opacity: 0.4;
  transform: scale(1.3);
}
.projects-item:hover .img-text,
.projects-item:hover .img-footer {
  opacity: 1;
}
@media screen and (min-width: 576px) {
  .projects-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 1em;
  }
}
@media screen and (min-width: 992px) {
  .projects-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 1em;
  }
}
/* END OF  PROJECTS */

/* FILLER SECTION */
#filler-contact {
  /* the last number (0.5) is the opacity */
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(./images/filler.jpeg);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: space-between;
  /* aligns it where the text is */
  align-items: baseline;
  flex-wrap: wrap;
  padding: 60px;
}
#filler-contact h1 {
  font-size: 30px;
  text-transform: uppercase;
  color: #e0e2db;
  margin-bottom: 10px;
}
#filler-contact button {
  font-size: 30px;
  text-transform: uppercase;
  color: #e6af2e;
  border: 2px solid #e6af2e;
  padding: 10px 15px;
  background: transparent;
}
#filler-contact button:hover {
  background: var(--mainYellow);
  color: #191716;
}
/* END OF FILLER SECTION */

/* RECENTS POSTS SEC */
#posts {
  background: var(--mainGrey);
  padding: 20px 0 80px 0;
}
.post-container {
  max-width: 90vw;
  margin: 0 auto;
}
.post-item {
  background: #e0e2db;
  color: #191716;
  margin: 20px 0;
}
#posts img {
  width: 100%;
  display: block;
}
.img-container {
  position: relative;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
}
.img-container .fa {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 50px;
  color: #e6af2e;
  transition: opacity 4s;
  opacity: 0;
}
.img-container:hover img {
  opacity: 0.4;
}
.img-container:hover .fa {
  opacity: 1;
}
.text-container {
  padding: 10px 5px 30px 5px;
}
.text-container p {
  margin: 15px 0 25px 0;
}
.text-container a {
  text-decoration: none;
  font-size: 20px;
  padding: 5px;
  border: 2px solid var(--mainYellow);
  color: var(--mainYellow);
  margin-bottom: 20px;
}
.text-container a:hover {
  background: #191716;
  border-color: #191716;
}
@media screen and (min-width: 576px) {
  .post-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 1em;
    grid-row-gap: 1em;
  }
}
@media screen and (min-width: 992px) {
  .post-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 1em;
    grid-row-gap: 1em;
  }
}
/* END OF RECENTS POSTS SEC */

/* FOOTER */
footer {
  background-color: #191716;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: baseline;
}

.footer-text {
  text-transform: uppercase;
  font-size: 15px;
  color: var(--mainWhite);
  margin-bottom: 10px;
}
.footer-icons {
  font-size: 30px;
}
.footer-icons .fab {
  margin-right: 10px;
  color: #e0e2db;
  transition: transform 2s;
}
.footer-icons .fab:hover {
  color: #e6af2e;
  transform: translateY(-15px);
}
/* END OF FOOTER */
